<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Queue Management System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Queue Management System" />
	<meta name="keywords" content="Queue Management System" />
	<meta name="author" content="Queue Management System" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Queue Management System" />
	<meta property="og:image" content="https://qmsystem.web.app/assets/images/bg2.jpg" />
	<meta property="og:url" content="https://qmsystem.web.app/assets/images/bg2.jpg" />
	<meta property="og:site_name" content="Queue Management System" />
	<meta property="og:description" content="Queue Management System" />
	<meta name="twitter:title" content="Queue Management System" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="Queue Management System" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet'
		type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

	<!-- Animate.css -->
	<!-- <link rel="stylesheet" href="../../../assets/css/animate.css"> -->
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<!-- <link rel="stylesheet" href="../../../assets/css/bootstrap.css"> -->

	<!-- Magnific Popup -->
	<!-- <link rel="stylesheet" href="../../../assets/css/magnific-popup.css"> -->

	<!-- Owl Carousel  -->
	<!-- <link rel="stylesheet" href="../../../assets/css/owl.carousel.min.css"> -->
	<!-- <link rel="stylesheet" href="../../../assets/css/owl.theme.default.min.css"> -->

	<!-- Theme style  -->
	<!-- <link rel="stylesheet" href="../../../assets/css/style.css"> -->

	<!-- Modernizr JS -->
	<!-- <script src="../../../assets/js/modernizr-2.6.2.min.js"></script> -->
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-5">
				<h3>AL SHUMOOS MEDICAL CENTER</h3>
				<p>Visa Medical </p>
				<!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
			</div>
			<div class="col-md-2">
				<a href="#" class="thumbnail">
					<img src="https://picsum.photos/150/150?random=1">
				</a>
				
			</div>
			<div class="col-md-5">
				<h3>AL SHUMOOS MEDICAL CENTER</h3>
				<p>Visa Medical </p>
				<!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
			</div>
		</div>

		<hr>
	</div> <!-- /container -->


	<div class="container">

		<div class="row row-offcanvas row-offcanvas-right">

			<div class="col-xs-12 col-sm-12">
				<p class="pull-right visible-xs">
					<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
				</p>
				<div class="jumbotron">
					<div class="row">
						<div class="col-xs-6 col-lg-6">
							<div class="list-group">
								<a href="#" class="list-group-item list-group-item-success">REGISTRATION</a>
								<a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
							</div>
						</div>
						<div class="col-xs-6 col-lg-6">
							<div class="list-group">
								<a href="#" class="list-group-item list-group-item-danger">REPORT</a>
								<a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-xs-6 col-lg-4">
						<h2>Heading</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
							tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
							malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
					</div><!--/.col-xs-6.col-lg-4-->
					<div class="col-xs-6 col-lg-4">
						<h2>Heading</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
							tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
							malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
					</div><!--/.col-xs-6.col-lg-4-->
					<div class="col-xs-6 col-lg-4">
						<h2>Heading</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
							tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
							malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
					</div><!--/.col-xs-6.col-lg-4-->
					<div class="col-xs-6 col-lg-4">
						<h2>Heading</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
							tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
							malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
					</div><!--/.col-xs-6.col-lg-4-->
					<div class="col-xs-6 col-lg-4">
						<h2>Heading</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
							tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
							malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
					</div><!--/.col-xs-6.col-lg-4-->
					<div class="col-xs-6 col-lg-4">
						<h2>Heading</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
							tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
							malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
					</div><!--/.col-xs-6.col-lg-4-->
				</div><!--/row-->
			</div><!--/.col-xs-12.col-sm-9-->
		</div>
	</div>
	<div class="container">
		<footer>
			<p>&copy; 2016 Company, Inc.</p>
		</footer>
	</div> <!-- /container -->
	<!-- <div class="fh5co-loader"></div> -->




	<!-- jQuery -->
	<script src="../../../assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../../../assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../../../assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../../../assets/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="../../../assets/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="../../../assets/js/jquery.countTo.js"></script>

	<!-- Stellar -->
	<script src="../../../assets/js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="../../../assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../../../assets/js/magnific-popup-options.js"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<!-- <script src="../../../assets/js/simplyCountdown.js"></script> -->
	<!-- Main -->
	<script src="../../../assets/js/main.js"></script>

	<script>
		$(document).ready(function () {
			//     var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);
			// alert(d);
			//     // default example
			//     simplyCountdown('.simply-countdown-one', {
			//         year: d.getFullYear(),
			//         month: d.getMonth() + 1,
			//         day: d.getDate()
			//     });

			//     //jQuery example
			//     $('#simply-countdown-losange').simplyCountdown({
			//         year: d.getFullYear(),
			//         month: d.getMonth() + 1,
			//         day: d.getDate(),
			//         enableUtc: false
			//     });
		});
	</script>

</body>

</html>